{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.py",
      "options": {
        "tabWidth": 4,
        "singleQuote": false,
        "printWidth": 88
      }
    },
    {
      "files": "*.toml",
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "*.sh",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": "*.zsh",
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    }
  ]
}
